html {
  scroll-behavior: smooth;
}

.index__faux-navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  justify-content: center;
}

.index__faux-navbar > li > button {
  border: none;
  border-bottom: 2px solid transparent;
  padding: 5px 5px;
  margin: 0px 5px;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
}

.index__faux-navbar > li > button > a {
  text-decoration: none;
  color: black;
}

.index__faux-navbar > li > button:hover {
  border-bottom: 2px solid black;
}